header {
    background-color:darksalmon;
    text-align: center;
    width:100% ;
    height: 100px;
    margin: o;
}
p {
    background-color: khaki;
}

footer {
    margin-top: 5%;
}
section {
    background-color: lemonchiffon;
}

articale {
    background-color: linen;
}